
.open-chat__header{
    display: flex;
    justify-content: space-between;

    margin-bottom: 25px;
}
.open-chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:20px}

.open-chat__header h4{
    color: var(--green);
}
.open-chat__column{
    display: flex;
    flex-direction: column;
}
.open-chat__column .open-post__hashtags{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.open-post__hashtags{
    margin-bottom: 6px;
}
.open-post__column .open-post__title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.open-chat:nth-child(1){
    margin-top: 60px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
}

.open-chat__header span{
    opacity: 0.6;
}
.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.open-post__title{
    font-weight: 600;
    margin-bottom: 12px;
}
.open-post__hashtags{
    text-transform: uppercase; /*대문자로 바꿔줌*/
    opacity: 0.6;
}
.open-post__members{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 7px;
}
.open-post__members img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}
.open-post__member-count{
    opacity: 0.5;
    font-size: 14px;
}
.open-post__members .divider{
    width: 1.5px;
    height: 15px;
    margin: 0 5px;
    background-color: var(--green);
}
.open-post__member-status{
    color: #ffb0e0;
}
.open-post__photo img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.open-post__photo{
    position: relative;
}
.open-post__heart-count{
    background-color: rgb(0, 0, 0,0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.open-post__heart-count span{
    margin-left: 3px;
}

@keyframes heartBeat {
    0%{
        color: white;
        transform: none;
    }
    50%{
        color: var(--green);
        transform: scale(3);
    }
    100%{
        color: white;
        transform: none;
    }
    
}
.open-post__heart-count:hover i{
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}